*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn{
  color: #164f30;
  margin-top: 20px;
}

.download-data-div{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}